<div class="booking">
    <h1>Bookings</h1>

    <a href="/slots">Book </a>

    <div class="details">
        <% if(typeof bookings !='undefined') { %>

            <% bookings.forEach((booking) => { %>
                <div class="book-card">
                    <h4>Name: <%= booking.user.name %></h4>
                    <h4>Number: <%= booking.user.phone_number %></h4>
                    <h4>Date: <%= booking.slot.date %></h4>
                    <a href="/booking/edit/<%= booking._id %>">Edit</a>
                    <a href="/booking/delete/<%= booking._id %>">Delete</a>
                </div>
            <% }) %>
            <%  } %>
    </div>
</div>
